<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">Feedy</b-navbar-brand>
            <b-navbar-nav class="ml-auto">
                <b-nav-item :href="logoutUrl">Logout</b-nav-item>
            </b-navbar-nav>
        </b-navbar>
        <b-container class="mt-5">
            <h1>Top 10 used words in the feed</h1>
            <b-table :items="topWords" class="mt-5"></b-table>
            <h1>Feed Elements</h1>
            <b-table :items="formattedEntries" class="mt-5"></b-table>
        </b-container>
    </div>

</template>
<script>
    export default {
        props: ['topWords', 'entries', 'logoutUrl'],
        computed: {
            formattedEntries: function() {
                let formatted = [];
                for (let entry of this.entries) {
                    formatted.push({
                        title: entry.title,
                        author: entry.author,
                        summary: entry.summary,
                        author_uri: entry.author_uri,
                    })
                }

                return formatted;
            }
        }
    }
</script>