<template>
    <div class="container">
        <div class="loading-indicator" v-show="isLoading">
            <b-spinner variant="light" label="Loading..."></b-spinner>
        </div>
        <h1>Feedy</h1>
        <div class="row justify-content-center">
            <div class="col-6">
                <h2>Log In</h2>
                <b-form v-on:submit.prevent="logIn">
                    <slot>
                        <!-- CSRF gets injected into this slot -->
                    </slot>
                    <b-form-group
                        id="email-address-group"
                        label="Email address:"
                        label-for="email"
                    >
                        <b-form-input
                            id="email"
                            v-model="logInForm.email"
                            type="email"
                            required
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group
                        id="password-group"
                        label="Password:"
                        label-for="password"
                    >
                        <b-form-input
                                id="password"
                                v-model="logInForm.password"
                                type="password"
                                required
                        ></b-form-input>
                    </b-form-group>
                    <b-button type="submit" variant="primary">Log In</b-button>
                </b-form>
                <b-button type="link" variant="link" v-b-modal.register-pop-up>Register</b-button>
            </div>
        </div>
        <RegisterPopUp></RegisterPopUp>
    </div>
</template>
<script>
    import RegisterPopUp from "./WelcomeScreen/RegisterPopUp"
    export default {
        components: {
            RegisterPopUp
        },
        data() {
            return {
                logInForm: {
                    email: '',
                    password: '',
                },
                isLoading: false
            }
        },
        methods: {
            logIn() {
                this.isLoading = true;
                const promise = axios.post('login', { email: this.logInForm.email, password: this.logInForm.password });

                promise
                    .then(response => this.successRequest(response))
                    .catch(error => this.failedRequest(error));
            },
            successRequest(response) {
                if (response.data.status === 'OK') {
                    if (response.data.action === 'redirect') {
                        this.$router.go(response.data.url);
                    }
                }

                this.isLoading = false;
            },
            failedRequest(error) {
                if (error.response.data.errors) {
                    this.makeToast(error.response.data.errors.message[0]);
                }

                this.isLoading = false;
            },
            makeToast(message, title = 'error', type = 'danger') {
                this.$bvToast.toast(message, {
                    title: title,
                    toaster: 'b-toaster-top-right',
                    variant: type,
                    autoHideDelay: 5000,
                    appendToast: true,
                    solid: true
                });
            }
        }
    }
</script>