.modal-backdrop {
  opacity: 0.5;
}

.toast {
  opacity: 1;
}

.loading-indicator {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #000;
  opacity: 0.4;

  .spinner-border {
    position: absolute;
    left: 47%;
    top: 40%;
  }
}