<template>
    <b-modal id="register-pop-up" title="Register" ref="registerPopUp" hide-footer @hide="hideModal">
        <b-form v-on:submit.prevent="onSubmit">
            <b-form-group
                    id="email-address-group"
                    label="Email address:"
                    label-for="email-input"
                    description="We'll never share your email with anyone else."
            >
                <b-form-input
                        id="email-input"
                        v-model="form.email"
                        type="email"
                        required
                        v-bind:class="{ 'is-valid': isEmailValid === true && isFilled === true, 'is-invalid': isEmailValid === false && isFilled === true  }"
                ></b-form-input>
            </b-form-group>
            <b-form-group
                    id="password-1-group"
                    label="Password:"
                    label-for="password-input"
            >
                <b-form-input
                        id="password-input"
                        v-model="form.password"
                        type="password"
                        v-bind:class="{ 'is-valid': isPasswordValid === true && isFilled === true, 'is-invalid': isPasswordValid === false && isFilled === true }"
                        required
                ></b-form-input>
            </b-form-group>
            <b-form-group
                    ref="password2Group"
                    id="password-2-group"
                    label="Password (verify):"
                    label-for="password-input-verify"
                    description="We'll never share your password with anyone else."
            >
                <b-form-input
                        id="password-input-verify"
                        v-model="form.passwordVerify"
                        type="password"
                        v-bind:class="{ 'is-valid': isPasswordValid === true && isFilled === true, 'is-invalid': isPasswordValid === false && isFilled === true }"
                        required
                ></b-form-input>
            </b-form-group>
            <b-button type="submit" variant="primary">Register</b-button>
        </b-form>
        <div class="loading-indicator" v-show="isLoading">
            <b-spinner variant="light" label="Loading..."></b-spinner>
        </div>

    </b-modal>
</template>
<script>
    export default {
        data() {
            return {
                form: {
                    email: '',
                    password: '',
                    passwordVerify: '',
                },
                isEmailValid: false,
                isPasswordValid: false,
                isFilled: false,
                isLoading: false
            };
        },
        methods: {
            onSubmit() {
                this.isFilled = true;
                /** Email Verify */
                this.isEmailValid = this.form.email.match(/\S+@\S+\.\S+/g);
                /** Password Verify */
                this.isPasswordValid = this.form.passwordVerify === this.form.password;

                if (!this.isEmailValid) {
                    this.makeToast("Invalid email format.");
                }

                if (!this.isPasswordValid) {
                    this.makeToast("Invalid password! Password does not match.");
                }

                if (this.isEmailValid && this.isPasswordValid) {
                    this.isLoading = true;
                    const promise = axios.post('register', { email: this.form.email, password: this.form.password, password_confirmation: this.form.passwordVerify });

                    promise
                        .then(response => this.successRequest(response))
                        .catch(error => this.failedRequest(error));
                }

            },
            successRequest(response) {
                if (response.data.status === 'OK') {
                    this.$refs.registerPopUp.hide();
                    this.makeToast('Successfully registered! Please log in.', 'Success', 'success');
                }

                this.isLoading = false;
            },
            failedRequest(error) {
                for (let field of Object.entries(error.response.data.errors)) {
                    if (field[0] === 'email') {
                        this.isEmailValid = false;
                    }

                    if (field[0] === 'password') {
                        this.isPasswordValid = false;
                    }

                    this.makeToast(field[1]);
                }

                this.isLoading = false
            },
            makeToast(message, title = 'error', type = 'danger') {
                this.$bvToast.toast(message, {
                    title: title,
                    toaster: 'b-toaster-top-right',
                    variant: type,
                    autoHideDelay: 5000,
                    appendToast: true,
                    solid: true
                });
            },
            hideModal() {
                this.isEmailValid = false;
                this.isPasswordValid = false;
                this.isFilled = false;
                this.isLoading = false;

                this.form = {
                    email: '',
                    password: '',
                    passwordVerify: '',
                };
            }
        }
    }
</script>